/**
 * Style the context menu button... #say_hello_cm is defined in our Context Menu Extension class' AssignId property
 */
.contextmenu #say_hello_cm > .image {
    background-image: url('${ImgUrl}hello-16x16.png');
}

/**
 * Style the ribbon tool bar button... #SayHelloButton is defined in our Ribbon Toolbar Button class' AssignId property
 */
/* main icon in full ribbon mode */
.ribbontoolbar #SayHelloButton.button .image, .ribbontoolbar #SayHelloButton.button .image
{
    background-image: url('${ImgUrl}hello-32x32.png');
}

/* main icon in minimized ribbon mode */
.ribbontoolbar.minimized #SayHelloButton.button .image, .ribbontoolbar.minimized #SayHelloButton.button .image
{
    background-image: url('${ImgUrl}hello-16x16.png');
}